<h1>Street &rarr; Coords Lookup</h1>

<form action="/display">
  <div>
    <label for="street">Street Address</label>
    <input type="text" name="street_address" id="street">
  </div>
  <div>
    <label for="city">City</label>
    <input type="text" name="city" id="city">
  </div>

  <button>Lookup Coordinates</button>
</form>
